body {
  font-family:
    Calibre,
    Helvetica Neue,
    Segoe UI,
    Helvetica,
    Arial,
    Lucida Grande,
    sans-serif;

  overflow: hidden;
}

.primary-btn {
  color: white;
  background: #0a7cff;
  border-radius: 30px;
  font-size: 15px;
  height: 46px;
  padding: 0 40px;
  transition: background 0.2s ease-in;
  width: auto;
  margin: 20px;
  border: none;
  cursor: pointer;
}

.primary-btn:hover {
  background: #5359ff;
}

.underlined-link {
  font-size: 15px;
  color: blue;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.underlined-link:hover {
  color: darkblue;
  text-decoration: underline;
}

.logo-SimpleChat {
  align-items: center;
  display: flex;
  height: 120px;
  justify-content: center;
  min-width: 100%;
  width: 120px;
}

.logo-SimpleChat img {
  height: 85px !important;
  width: 85px;
}

p {
  font-size: 35px;
}
