.MessagesBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.MessagesBox::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, Opera ans Arc */
}
